$primary : #C39E55;
// $primary : #C7B180;
$secondary:#1B1B1B;
$white:#ffffff;
$num:#F5F5F5;
$offwhite:#f3f3f3;
$conttext:#555555;
$black:#000000;
$gray:#040404;
$txt:#1B1B1B;
$footer:#1B1D21;
$timeline:#0A3D62;
$poppins:"Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;

$hero-h1: clamp(1.625rem, 0.445rem + 5.9vw, 5.3125rem);;
$hero-80: 80px;
$font-60: 60px;
$font-50: 50px;
$font-40: 40px;
$font-30: 30px;
$font-36: 36px;
$font-25: 25px;
$font-22: 22px;
$font-20: 20px;
$font-18: clamp(1rem, 0.96rem + 0.2vw, 18px);;
$font-1rem: 1rem;
$font-15: 15px;
$font-14: 14px;
$font-12: 12px;


/* border radius */
$radius-10: 10px;
$radius-35: 35px;



